@using DigitalHubCMS.DTOS
@{

    var items = new List<ContactItem>
{
    new ContactItem
    {
        Id = 1,
        Icon = "<i class='fa-solid fa-phone-flip'></i>", // Replace with actual icon handling in C#
        Label = "+201555553064",
        Link = "tel:+201555553064"
    },
    new ContactItem
    {
        Id = 2,
        Icon = "<i class='fa-solid fa-envelope'></i>", // Replace with actual icon handling in C#
        Label = "info@digitalhub.com.eg",
        Link = "mailto:info@digitalhub.com.eg"
    },
    new ContactItem
    {
        Id = 3,
        Icon = "<i class='fa-solid fa-location-dot'></i>", // Replace with actual icon handling in C#
        Label = "B7, Pearl des-rois, New Cairo",
        Link = "https://www.google.com/maps/place/Pearl+des+rois/@30.0026662,31.501636,17z/data=!3m1!4b1!4m6!3m5!1s0x14582344de8b5225:0x6f3bf18c6c27dc76!8m2!3d30.0026662!4d31.5042109!16s%2Fg%2F11j7bm_ghm?entry=ttu"
    }
};

    var pages = new List<FooterLinks>
    {
    new FooterLinks
    {

        Label = "Home",
        Link = "/home"
    },
    new FooterLinks
    {

        Label = "Service",
        Link = "#"
    },
    new FooterLinks
    {

        Label = "Blogs",
        Link = "/blogs"
    },
     new FooterLinks
    {

        Label = "Careers",
        Link = "/careers"
    },
     new FooterLinks
    {

        Label = "About Us",
        Link = "/about-us"
    },
     new FooterLinks
    {

        Label = "Contact Us",
        Link = "/contact-us"
    }
    };
    var services = new List<FooterLinks>
    {
    new FooterLinks
    {

        Label = "Data Science",
        Link = "/services/data-science"
    },
    new FooterLinks
    {

        Label = "AI Transformation",
        Link = "/services/ai"
    },
    new FooterLinks
    {

        Label = "Outsourcing",
        Link = "/services/outsourcing"
    }

    };
}

<!-- Footer-->
<div class="w-full bg-bluesh md:min-h-[60vh]">
    <div class="w-[70%] mx-auto flex flex-col 2xl:min-h-[50vh] 2xl:w-[60%]">

        <!--ContactInfo-->
        <div class="flex flex-wrap justify-around lg:flex-row lg:justify-between w-full text-sm h-auto md:h-[80px] lg:mt-[80px] mt-[30px] text-white">
            @foreach (var item in items)
            {
                <a href="@item.Link" target="_blank"
                   class="flex flex-row items-center text-xs md:text-sm mb-4 md:mb-0 md:mr-4">

                    <div class="mr-2">
                        @* @item.Icon.Substring(0,item.Icon.Length) *@
                        @Html.Raw(item.Icon)
                    </div>
                    <div class="flex flex-col">
                        <div class="text-[14px] md:text-[13px] font-bold font-istok">
                            @item.Label
                        </div>

                    </div>

                </a>
            }
            <a href="/contact" class="flex flex-row items-center gap-2 text-xs md:text-sm mb-4 md:mb-0 md:mr-4">
                <h1 class=" text-[12px] md:text-[13px] text-[#FFFFFF]">
                    GET IN TOUCH
                </h1>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20" width="20" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path></svg>
            </a>
        </div>
        <!--ContactInfo-->
        <!--Divider-->
        <hr class="my-12 h-0.5 border-t-0 bg-white dark:bg-white/10" />
        <!--Divider-->
        <!--Footer Body-->
        <div class="w-full h-auto lg:mt-[40px] flex flex-col lg:flex-row justify-between">

            <!--Left Middle-->
            <div class="w-full lg:w-[14%] mb-4 md:mb-0 flex justify-center lg:justify-start  items-center flex-col lg:pt-[60px] md:w-full pt-0">
                <h1 class="mb-6 text-white text-center md:text-left">
                    <img src="https://firebasestorage.googleapis.com/v0/b/digital-hub-website.appspot.com/o/assets%2Fwhite_logo.svg?alt=media&token=ed3b1336-c78a-45a9-8eeb-c77620e715e8"
                         alt="logo"
                         width={70} />
                </h1>
                <div class="flex flex-row justify-center md:justify-center">
                    <a href="https://www.facebook.com/DigitalHub19/" target="_blank">
                        <div class="w-8 h-8 border border-white rounded-full flex items-center justify-center bg-transparent mr-2 hover:bg-white hover:text-blue-500 transition duration-300 ease-in-out">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" color="white" height="0.8em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: white;"><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"></path></svg>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/company/digital-hub-eg"
                       target="_blank">
                        <div class="w-8 h-8 border border-white rounded-full flex items-center justify-center bg-transparent mr-2 hover:bg-white hover:text-blue-500 transition duration-300 ease-in-out">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="white" height="0.8em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: white;"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
                        </div>
                    </a>
                    <a href="https://api.whatsapp.com/send/?phone=%2B201555553064&text&type=phone_number&app_absent=0"
                       target="_blank">
                        <div class="w-8 h-8 border border-white rounded-full flex items-center justify-center bg-transparent hover:bg-white hover:text-green-500 transition duration-300 ease-in-out">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" color="white" height="0.8em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: white;"><path fill-rule="evenodd" d="M414.73 97.1A222.14 222.14 0 0 0 256.94 32C134 32 33.92 131.58 33.87 254a220.61 220.61 0 0 0 29.78 111L32 480l118.25-30.87a223.63 223.63 0 0 0 106.6 27h.09c122.93 0 223-99.59 223.06-222A220.18 220.18 0 0 0 414.73 97.1zM256.94 438.66h-.08a185.75 185.75 0 0 1-94.36-25.72l-6.77-4-70.17 18.32 18.73-68.09-4.41-7A183.46 183.46 0 0 1 71.53 254c0-101.73 83.21-184.5 185.48-184.5a185 185 0 0 1 185.33 184.64c-.04 101.74-83.21 184.52-185.4 184.52zm101.69-138.19c-5.57-2.78-33-16.2-38.08-18.05s-8.83-2.78-12.54 2.78-14.4 18-17.65 21.75-6.5 4.16-12.07 1.38-23.54-8.63-44.83-27.53c-16.57-14.71-27.75-32.87-31-38.42s-.35-8.56 2.44-11.32c2.51-2.49 5.57-6.48 8.36-9.72s3.72-5.56 5.57-9.26.93-6.94-.46-9.71-12.54-30.08-17.18-41.19c-4.53-10.82-9.12-9.35-12.54-9.52-3.25-.16-7-.2-10.69-.2a20.53 20.53 0 0 0-14.86 6.94c-5.11 5.56-19.51 19-19.51 46.28s20 53.68 22.76 57.38 39.3 59.73 95.21 83.76a323.11 323.11 0 0 0 31.78 11.68c13.35 4.22 25.5 3.63 35.1 2.2 10.71-1.59 33-13.42 37.63-26.38s4.64-24.06 3.25-26.37-5.11-3.71-10.69-6.48z"></path></svg>
                        </div>
                    </a>
                </div>
            </div>
            <!--Left Middle-->
            <!--FooterLinks-->
            <div class="w-full lg:w-[60%] mb-2 md:mb-0">
                <div class="flex flex-row justify-center lg:mt-0 mt-[30px]">
                    <div class="flex flex-col gap-4 mr-[100px]">
                        <h1 class="text-white text-[12px] font-bold font-istok mb-2">
                            PAGES
                        </h1>
                        @foreach (var item in pages)
                        {
                            <a key=@item.Link
                               href=@item.Link
                               class="text-white flex items-center gap-2 font-istok font-thin text-xs">
                                 <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path></svg> @item.Label
                            </a>
                        }

                    </div>
                    <div class="flex flex-col gap-1">
                        <h1 class="text-white text-[12px] font-bold font-istok mb-4">
                            SERVICES
                        </h1>
                        @foreach (var item in services)
                        {
                            <a key=@item.Link
                               href=@item.Link
                               class="text-white flex items-center gap-2 text-xs font-istok font-light mb-3">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path></svg> @item.Label

                            </a>
                        }

                    </div>
                </div>
            </div>
            <!--FooterLinks-->
            <!--Newsletter-->
            <div class="w-full lg:w-[24%] h-full flex justify-center">
                <div class="flex flex-col gap-4 lg:w-full w-[80%] mt-[30px] lg:mt-0">
                </div>
            </div>
            <!--Newsletter-->

        </div>
        <!--Footer Body-->
        <!--Copyright-->
        <div class="flex justify-center items-center mt-[74px] pb-10">
            <h1 class="text-[12px] text-white">© Copyright by Digital Hub – All right reserved.</h1>
        </div>
        <!--Copyright-->

    </div>
</div>
<!-- Footer-->
