@inherits UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var homePage = Model.AncestorOrSelf<ContentModels.Home>();
    var currentPath = Context.Request.Path.ToString();

}

<div class="w-full transition-all duration-500 bg-transparent fixed z-[1000] mt-0">
    <div class="flex justify-between items-center p-4 md:mx-[5%]  2xl:mx-[10%]  transition-all duration-500">
        <a href="@homePage.Url()">
            @await Html.PartialAsync("Logo/logo")
        </a>

        <div class="hidden lg:flex flex-row gap-6 text-xs font-inter  justify-between transition-all duration-500 text-white 2xl:text-normal">

            <a href="@homePage.Url()" class="font-inter text-white mr-4 @(homePage.Url().Contains(Context.Request.Path)?"border-b-2 border-yellow-500":"")">
                @homePage.Name
            </a>


            @foreach (var page in homePage.Children.Where(x => !x.Value<bool>("hideFromTopNavigation")))
            {
                <a class="font-inter mr-4 text-white   @(currentPath.Contains(page.Url())?"border-b-2 border-yellow-500 ":"")"
                   href="@(page.Url())">
                    @(page.Name)
                </a>


            }
        </div>
    </div>
</div>
