@inherits UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var homePage = Model.AncestorOrSelf<ContentModels.Home>();
    var currentPath = Context.Request.Path.ToString();
}
<!-- drawer init and toggle -->
<div id="hamburgerbtn" class="lg:hidden">
    <button id="hamburgerBtn"
            type='button'
            data-drawer-target="drawer-right-example"
            data-drawer-show="drawer-right-example"
            data-drawer-placement="right" aria-controls="drawer-right-example">
        <span role="img" aria-label="menu" class="anticon anticon-menu transition-all duration-500  text-2xl"><svg viewBox="64 64 896 896" focusable="false" data-icon="menu" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M904 160H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0 624H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0-312H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8z"></path></svg></span>
    </button>
</div>


<!-- drawer component -->
<div id="drawer-right-example" class="fixed flex flex-col justify-between w-full top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full drawer-continer  dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
    <!--Close button-->
    <button type="button" data-drawer-hide="drawer-right-example" aria-controls="drawer-right-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <span role="img" aria-label="close" tabindex="-1" class="anticon anticon-close transition-all duration-500 text-[#aeb0b2] text-2xl"><svg fill-rule="evenodd" viewBox="64 64 896 896" focusable="false" data-icon="close" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M799.86 166.31c.02 0 .04.02.08.06l57.69 57.7c.04.03.05.05.06.08a.12.12 0 010 .06c0 .03-.02.05-.06.09L569.93 512l287.7 287.7c.04.04.05.06.06.09a.12.12 0 010 .07c0 .02-.02.04-.06.08l-57.7 57.69c-.03.04-.05.05-.07.06a.12.12 0 01-.07 0c-.03 0-.05-.02-.09-.06L512 569.93l-287.7 287.7c-.04.04-.06.05-.09.06a.12.12 0 01-.07 0c-.02 0-.04-.02-.08-.06l-57.69-57.7c-.04-.03-.05-.05-.06-.07a.12.12 0 010-.07c0-.03.02-.05.06-.09L454.07 512l-287.7-287.7c-.04-.04-.05-.06-.06-.09a.12.12 0 010-.07c0-.02.02-.04.06-.08l57.7-57.69c.03-.04.05-.05.07-.06a.12.12 0 01.07 0c.03 0 .05.02.09.06L512 454.07l287.7-287.7c.04-.04.06-.05.09-.06a.12.12 0 01.07 0z"></path></svg></span>
    </button>
    <!--Close button-->
    <!--Items List-->
    <div class="flex flex-col gap-4 text-xl font-inter text-white mt-12 nav-items">
        <a href="@homePage.Url()" class="active">
            @homePage.Name
        </a>
        @foreach (var page in homePage.Children.Where(x => !x.Value<bool>("hideFromTopNavigation")))
        {
            <div class="flex gap-2 justify-start items-center">
                <a href="@(page.Url())">
                    <img src="~/assets/arrowDown.svg"
                         alt="arrow"
                         class="h-2/6 @(page.Name.ToString()=="Services" ? "" :"hidden")" />
                </a>

                <a href="@(page.Url())">
                    @(page.Name)
                </a>
            </div>
        }
    </div>
    <!--Items List-->
    <!--Drawer Footer-->
    <div class="flex justify-center items-center mt-[74px] pb-10">
        <h1 class="text-[12px] text-white">© Copyright by Digital Hub – All right reserved.</h1>
    </div>

    <!--Drawer Footer-->


</div>
<script>
    function handleScroll() {

        var hamburgerBtn = document.getElementById('hamburgerBtn');


        if (window.scrollY > 0) {

            hamburgerBtn.classList.add('hamburgerBtn');
        } else {

            hamburgerBtn.classList.remove('hamburgerBtn');

        }
    }

    window.addEventListener('scroll', handleScroll);
    document.getElementById('hamburgerbtn').addEventListener('click', (e) => {
        e.preventDefault();
        console.log("Hello From Rashed")

    })
</script>